<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Lxterminal">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item label="PCManFM">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<!-- This requires the presence of the 'obamenu' package to work -->
		<separator/>
		<menu id="root-menu-84461" label="Apps">
			<item label="Cura">
				<action name="Execute">
					<execute>cura</execute>
				</action>
			</item>
			<item label="OBS">
				<action name="Execute">
					<execute>obs</execute>
				</action>
			</item>
			<item label="Flameshot">
				<action name="Execute">
					<execute>flameshot</execute>
				</action>
			</item>
			<item label="Mousepad">
				<action name="Execute">
					<execute>mousepad</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-534630" label="Configs">
			<item label="Tint2conf">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item label="Pavucontrol">
				<action name="Execute">
					<execute>pavucontrol</execute>
				</action>
			</item>
			<item label="Lxappearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Lxrandr">
				<action name="Execute">
					<execute>lxrandr</execute>
				</action>
			</item>
			<item label="Obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
			<item label="Obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Restart">
				<action name="Restart"/>
			</item>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
		</menu>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
		<item label="Lock">
			<action name="Execute">
				<execute>dm-tool lock</execute>
			</action>
		</item>
		<item label="Reboot">
			<action name="Execute">
				<execute>/sbin/reboot</execute>
			</action>
		</item>
		<item label="Poweroff">
			<action name="Execute">
				<execute>/sbin/poweroff</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
